nbproject
doc
*.attrs

# lib/Pattern/Adapter/*
# adapter.php

# lib/Pattern/Builder/*
# builder.php

lib/Pattern/ChainOfResponsibility/*
chainOfResponsibility.php

lib/Pattern/Command/*
command.php

lib/Pattern/Composite/*
composite.php

lib/Pattern/Decorator/*
decorator.php

lib/Pattern/Delegate/*
delegate.php

lib/Pattern/Facade/*
facade.php

# lib/Pattern/Factory/*
# factory.php

# lib/Pattern/FluentInterface/*
# fluentInterface.php

lib/Pattern/Iterator/*
iterator.php

lib/Pattern/InterceptingFilter/*
iterator.php

lib/Pattern/Observer/*
observer.php

playground.php

# lib/Pattern/Prototype/*
# prototype.php

lib/Pattern/Proxy/*
proxy.php

# lib/Pattern/Singleton*
# singleton.php

lib/Pattern/Strategy/*
strategy.php

lib/Pattern/TemplateMethod/*
templateMethod.php

lib/Pattern/Visitor/*
visitor.php