nbproject
doc
*.attrs
*.tmp

# lib/Pattern/Adapter/*
# adapter.php

# lib/Pattern/Builder/*
# builder.php

lib/Pattern/ChainOfResponsibility/*
chainOfResponsibility.php

lib/Pattern/Command/*
command.php

lib/Pattern/Composite/*
composite.php

# lib/Pattern/Decorator/*
# decorator.php

lib/Pattern/Delegate/*
delegate.php

lib/Pattern/Facade/*
facade.php

# lib/Pattern/Factory/*
# factory.php

# lib/Pattern/FluentInterface/*
# fluentInterface.php

lib/Pattern/Iterator/Repository2.php
# lib/Pattern/Iterator/RepositoryIterator.php
# iterator.php

lib/Pattern/InterceptingFilter/*

# lib/Pattern/Memento/State.php
# lib/Pattern/Memento/Memento.php
# lib/Pattern/Memento/Originator.php
# lib/Pattern/Memento/Caretaker.php
# memento.php

lib/Pattern/Observer/*
observer.php

lib/Pattern/ObserverLight/Plugin.php
lib/Pattern/ObserverLight/YetAnotherPlugin.php
lib/Pattern/ObserverLight/PluginInterface.php
lib/Pattern/ObserverLight/Core.php
lib/Pattern/ObserverLight/EventDispatcher.php
observerLight.php

playground.php

# lib/Pattern/Prototype/*
# prototype.php

# lib/Pattern/Proxy/User.php
# lib/Pattern/Proxy/UserProxy.php
# lib/Pattern/Proxy/UserInterface.php
# lib/Pattern/Proxy/Session.php
# proxy.php

# lib/Pattern/Singleton*
# singleton.php

# lib/Pattern/State/Account.php
# lib/Pattern/State/AccountStateInterface.php
# lib/Pattern/State/AccountOpen.php
# lib/Pattern/State/AccountClosed.php
# state.php

# lib/Pattern/Strategy/*
# strategy.php

# lib/Pattern/TemplateMethod/*
# templateMethod.php

# lib/Pattern/Visitor/*
# visitor.php